<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Title</label>
    <div class="controls">
      <input form-field type="text" name="title" readonly="true"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Prio</label>
    <div class="controls">
      <input form-field type="text" name="priority" readonly="true"/>
    </div>
  </div>
</form>
