<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label">Title</label>
    <div class="controls">
      <input form-field type="text" name="title" required />
    </div>
  </div>

  <div class="control-group">
    <label for="selectPrioId" class="control-label">Priority</label>
    <div class="controls">
      <select id="selectPrioId" form-field type="string" name="priority" required>
        <option value="high">High</option>
        <option value="medium" checked>Medium</option>
        <option value="low">Low</option>
      </select>
    </div>
  </div>

</form>
